.titre{
    text-align: center;
    margin-top: 15px;
}
.btnconnect,
.linkcontact{
    text-align: center;
}

body{
    background-image: url(../Image/novelai_sakura_trees_sunset_4k_wallpaper_by_darkprncsai_dfgj6jv-fullview.jpg);
    background-size: cover;
}

text{
    font-size: 30px;
}

.row{
    background-color: rgba(255, 255, 255, 0.199);
}